In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [8]:
# # Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
# loc: This is label-based indexing. It is used to select data based on the labels of rows and columns. When using loc, you specify the row and column labels explicitly.Example:
# df.loc[2, 'column_name']
# In this example, 2 refers to the label of the row, and 'column_name' refers to the label of the column.
# iloc: This is integer-based indexing. It is used to select data based on the integer location of rows and columns. When using iloc, you specify the row and column indices explicitly.Example:
# df.iloc[1, 3]

In [11]:
df.loc[1,"course_name"]

'Machine Learning'

In [12]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

In [13]:
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [15]:
new_index = [3,0,1,2]

In [16]:
df_new = df.reindex(new_index)

In [17]:
df_new

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [18]:
df_new.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [19]:
df_new.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [3]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.695721  0.200963  0.694798  0.420981  0.873302  0.159439
2  0.368944  0.954043  0.698304  0.786422  0.788679  0.502909
3  0.304876  0.960240  0.618246  0.890841  0.963227  0.914449
4  0.920246  0.160425  0.481012  0.060440  0.206935  0.372554
5  0.873065  0.258865  0.674989  0.866286  0.104893  0.992898
6  0.285032  0.076073  0.607064  0.420913  0.440629  0.592519

In [4]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [7]:
# (i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.574647
column_2    0.435101
column_3    0.629069
column_4    0.574314
column_5    0.562944
column_6    0.589128
dtype: float64

In [8]:
# (ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.40872970077413695

In [9]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [13]:
string_data = "raplace_data"
df1.loc[2,'column_2'] = string_data

In [14]:
df1.loc[2,'column_2']

'raplace_data'

In [17]:
df1['column_2'].mean() # here we are getting  error becuse data types are not smae here

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [19]:
# # Q6. What do you understand about the windows function in pandas and list the types of windows
# # functions?
# In Pandas, a window function, also known as a rolling or moving function, operates on a set of data points within a specified window or interval. These functions are particularly useful for time series data analysis, where you need to compute metrics over rolling time periods.
# Window functions allow you to perform calculations over a sliding window of data, which can help in tasks such as calculating moving averages, cumulative sums, or other aggregations within a specified window size.
# Types of window functions in Pandas include:
# Rolling Functions: These functions compute statistics (such as mean, sum, min, max, etc.) over a rolling window of data points. You can specify the window size and adjust the calculation's granularity.
# Expanding Functions: Expanding functions calculate a statistic for all data points up to the current point. It continuously expands the window size from the beginning of the data up to the current row.
# Exponentially Weighted Moving Average (EWMA): This function computes the exponentially weighted moving average of a series. It assigns exponentially decreasing weights to past observations while giving more weight to recent observations.
# Aggregate Functions with Time-based Offset: These functions aggregate data over a specified time-based offset, such as hourly, daily, or monthly intervals. Examples include resampling, which can aggregate data to a different frequency (e.g., downsampling from daily to monthly or upsampling from hourly to minute-level).
# Custom Window Functions: Pandas allows you to define custom window functions using the rolling or expanding objects and applying custom aggregation functions using apply.

In [20]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

In [27]:
import pandas as pd
from datetime import datetime
current_data_time = datetime.now()
current_month = current_data_time.month
current_year = current_data_time.year
# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)
print(current_data_time.day)

Current month: 4
Current year: 2024
21

In [29]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta.
# The program should prompt the user to enter the dates and display the result.

In [38]:
import pandas as pd

def calculate_time_difference(start_date, end_date):
    # Convert input strings to datetime objects
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    
    # Calculate the time difference
    time_difference = end_date - start_date
    
    # Extract days, hours, and minutes from the time difference
    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds % 3600) // 60
    
    return days, hours, minutes

# Prompt the user to enter the dates
start_date_input = input("Enter the start date (YYYY-MM-DD): ")
end_date_input = input("Enter the end date (YYYY-MM-DD): ")

# Calculate the time difference
difference_in_days, difference_in_hours, difference_in_minutes = calculate_time_difference(start_date_input, end_date_input)

# Display the result
print("Difference between the dates:")
print("Days:", difference_in_days)
print("Hours:", difference_in_hours)
print("Minutes:", difference_in_minutes)

Enter the start date (YYYY-MM-DD):  2024-01-12
Enter the end date (YYYY-MM-DD):  2024-01-18

Difference between the dates:
Days: 6
Hours: 0
Minutes: 0

In [2]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

In [3]:
# import pandas as pd

# def convert_column_to_categorical(file_path, column_name, category_order):
#     # Read the CSV file into a DataFrame
#     df = pd.read_csv(file_path)
    
#     # Convert the specified column to categorical data type with specified category order
#     df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
#     # Sort the DataFrame based on the specified column
#     sorted_df = df.sort_values(by=column_name)
    
#     return sorted_df

# # Prompt the user to enter the file path, column name, and category order
# file_path = input("Enter the file path: ")
# column_name = input("Enter the column name to convert to categorical: ")
# category_order = input("Enter the category order (comma-separated): ").split(',')

# # Convert the specified column to categorical data type and display the sorted data
# sorted_data = convert_column_to_categorical(file_path, column_name, category_order)
# print("Sorted data:")
# print(sorted_data)

In [4]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.

In [7]:
import pandas as pd
StudentID = [1,2,3,4,5,6,7,8,9,10]
TestScore = [85,90,80,75,85,83,78,90,84,88]
df=pd.DataFrame(data  = {"StudentID":StudentID,"TestScore":TestScore})

In [16]:
def claculating(df):
    mean1 = df['TestScore'].mean()
    median1 = df['TestScore'].median()
    mode1 = df['TestScore'].mode()
    return mean1,median1,mode1

In [17]:
claculating(df)

(83.8,
 84.5,
 0    85
 1    90
 Name: TestScore, dtype: int64)