In [1]:
# Q.1 How do you comment in python ? What are the different types of comments
 
    # Ans:- there are many ways of comment 
      #1. through the # 
        #2. through the all String rulles ("","""","""""",'')

In [3]:
# Q.2What are the variable in python? How do  you declare and assign value to variables
# Ans :- variable is a memory location where we can strore  the data 
#     eg:- a = 10 
#           here a is name of variable and in the we assign the value

In [11]:
# Q.3 How do you convert one data type to another in python
 # Ans :- we can convert data one to another form through the typecating 
 #      eg :- a = 10
  #            a = float(a)

In [12]:
# Q.4 How do you write and execute a pyhton script from the command line 
# Ans :- it is too easy to run it first you have to go on command line and create file name .py and code will be execute the to esay

In [17]:
# Q.5 Given a list my_list = [1,2,3,4,5], write the code to slice the list and obtain the sub-list[2,3

In [21]:
my_list = [1,2,3,4,5]

In [22]:
my_list

[1, 2, 3, 4, 5]

In [23]:
my_list[1:3:1]

[2, 3]

In [24]:
# Q.6  What is the complex number in mathematics ,and how is it represented in pyhton
  # ans :- the sum of real number and imagenary number is called complex number 
  #      eg:- 4 + 6j
  #       here 4 is real number but 6j is a imagnary number

In [25]:
# Q.7 what are the correct way to declare a variable named age and assign the value 25 ton it 
# Ans:- the best way to declare it list we have to make a list and the put it value in list this all
#   eg:- l=[1,2,5,"Hello"]

In [26]:
# Q.8 Declare a varibale named price and assign the value 9.99 to it. What data type does this variable belong to

In [27]:
price = 9.99

In [28]:
type(price)

float

In [29]:
# Q.9 create a variable named name and assign your full name to it as a string . How would you print the value of this varibale

In [30]:
name ="Dilkhush singh"

In [31]:
name

'Dilkhush singh'

In [32]:
# Q.10 Given the String "Hello World!",extract the subString "world"

In [33]:
str = "Hello, World!"

In [40]:
str[7:12:1]

'World'

In [41]:
# Q.11 Create a variable named "is_student"and assign it a bookean value indicating whether you are currently a student or not

In [43]:
is_student=True
  if is_student==True:
        print("YES")
   else
        print("NO")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)