In [1]:
# Q.1 which keyWord is used to create a function ? create a function to return a list of odd numbers in the range of 1 to 25

In [2]:
# Ans : - def key use to making  a function

In [11]:
def odd_num():
    l = []
    for i in range(1 , 26):
        if i % 2 !=0:
            l.append(i)
    return l

In [12]:
print(odd_num())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [13]:
# Q.2 why *args **kwargs is used in some function ? Create a function each for *args and **kwargs to demonstrate their use.
# Ans : - *args if you want to one or more argument to pass that why we use it but it keep the value inside of tuple 
#         same  type of work to **kwargs but it keep data in dict

In [14]:
def test(*args):
    return args

In [15]:
test(1,2,3,4)

(1, 2, 3, 4)

In [16]:
def test1(**kwargs):
    return kwargs

In [18]:
test1( a = 1  , b = 2)

{'a': 1, 'b': 2}

In [19]:
# Q.3 what is iterator in python ? Name the method used to intialise the iterator object and the method used for iteration.
#use these method to print the first five element of given list

In [21]:
l = [2,4,6,8,10,12,14,16,18,20]

In [22]:
# Q.4 what is a generator function in pyhton ? why yield keyword is used ? Given an example of a generator function?
# Ans:- this is a special type of function which works like iterator (yield) is a keyword which is return value without store data in memory

In [29]:
def sqr():
    for num in range(1,11):
        yield num

In [30]:
for i in sqr():
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
# Q.5 Create a generator function for prime numbers less then 1000. use the next() method to print the first 20 prime number

In [39]:
def prime(number):
    if number<2:
        return False
    for i in range(2,number):
        if(number%2==0):
            return False
    return True
        
def genprime():
    number = 2
    while number<1000:
        if prime(number):
            yield number
            number+=1

In [44]:
res = genprime()
for _ in  range(20):
    print(next(res))

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [45]:
# Q.6  write a python program to print the first 10 fibonacci number using while loop

In [54]:
def fib():
    a,b = 0,1
    while True:
        yield a
        a , b=b , a+b

In [55]:
res = fib()

In [56]:
for i in range(10):
    print(next(res))

0
1
1
2
3
5
8
13
21
34

In [57]:
# Q.7 write a list comprehension to iterate through the given String 'pwSkills'

In [58]:
s = "pwskills"

In [64]:
 l = []
for i in s:
    l.append(i)

In [65]:
l

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [66]:
# Q.8  write a python program to check whether a given number id palindrome or not using a while loop.

In [2]:
number = 121

In [25]:
number = 12121
orignel = number
reverse = 0
while number>0:
        last = number%10
        reverse = reverse*10+last
        number = number//10
if orignel == reverse:
    print("Is palindrome")
else :
    print("Not a palindrome")

Is palindrome

In [26]:
# Q.9 write a code to print odd number  frome 1 to 100 using list comprehension

In [7]:
odd_numbers = [ num for num in range(1, 101) if num % 2 != 0 ]

# Print the list of odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [1]:
# Q. create a python program to sort the given list of tuple based in integer value using a lambda function
#[('Scachin',34357),('Ricky ponting' ,27483),('jack Kallis',25534),("Virat Kohli",24936)]

In [2]:
data = [('Scachin',34357),('Ricky ponting' ,27483),('jack Kallis',25534),("Virat Kohli",24936)]

In [3]:
sorted_data = sorted(data,key=lambda x : x[1])

In [4]:
sorted_data

[('Virat Kohli', 24936),
 ('jack Kallis', 25534),
 ('Ricky ponting', 27483),
 ('Scachin', 34357)]

In [5]:
# Q.Write a python program to find the squares of all the number in the given list of integers using lambda and map function

In [6]:
l = [1,2,3,4,5,6,7,8,9,10]

In [7]:
sqr = list(map(lambda x : x**2,l))

In [8]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Q. Write a python program to convert the given list of integers  int a tuple of String . using map and lambda function
#l = [1,2,3,4,5,6,7,8,9,10] to ['1','2','3','4','5','6','7','8','9','10']

In [11]:
 l = [1,2,3,4,5,6,7,8,9,10]

In [12]:
 res = list(map(lambda x : str(x),l))

In [13]:
res

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [14]:
# Q.Write a pyhton program using reduce function to compute the product of a list containing numbers from 1 to 25

In [15]:
from functools import reduce 
number = list(range(1,26))
product = reduce(lambda x,y:x*y,number)

In [16]:
product

15511210043330985984000000

In [17]:
# Q.Write a python program to filter the number in a given list that are divisible by 2 and 3 using filter function .
#[2,3,6,9,27,60,90,120,55,46]

In [18]:
 l = [2,3,6,9,27,60,90,120,55,46]

In [19]:
 res = list(filter(lambda x : x%6==0,l))

In [20]:
res

[6, 60, 90, 120]

In [21]:
# Write a pyhton program to find palindromes in the given list of String using lambda and filter function
#['python','php','aba','radar','level']

In [22]:
words = ['python', 'php', 'aba', 'radar', 'level']

In [25]:
palindrome = list(filter(lambda word : word == word[::-1], words))

NameError: name 'words' is not defined